<!DOCTYPE HTML>
<html>
<head>
    <title>pixi.js example 1</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>
    <script src="public/pixi.dev.js"></script>
</head>
<body>
  <%- 2 %>

  <script src="public/app.js"></script>   
</body>
</html>
