<!DOCTYPE HTML>
<html>
<head>
    <title>pixi.js example 1</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>
    <script src="public/pixi.dev.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="public/bootbox.min.js"></script>
<body>
  <script src="public/app.js"></script>
  <script src="public/background.js"></script>
  <script src="public/player.js"></script>
  <script src="public/common_english_words.js"></script>
  <script src="public/player_input_effect.js"></script>
</body>
</html>